.overlay h1 {
	color: #FFFFFF;
	font-family: 'Parisienne', cursive;
	font-size: 120px;
	text-align: ;
}
@media screen and (max-width: 992px) {
        .overlay h1 {
    		font-size:85px;
    }
}
@media screen and (max-width: 768px) {
        .overlay h1 {
    		font-size:50px;
    }
}
@media screen and (max-width: 568px) {
        .overlay h1 {
    		font-size:40px;
    }
}

.overlay h2 {
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	font-weight: 700 ;
	text-align: ;
	font-size: 50px;
}
@media screen and (max-width: 992px) {
        .overlay h2 {
    		font-size:30px;
    }
}
@media screen and (max-width: 768px) {
        .overlay h2 {
    		font-size:25px;
    }
}
@media screen and (max-width: 568px) {
        .overlay h2 {
    		font-size:18px;
    }
}
.overlay img{
	text-align: center;
	margin: 0px;
	
}

@media screen and (max-width: 992px) {
        .overlay img {
    		width: 65%;
    }
}
@media screen and (max-width: 768px) {
        .overlay img {
    		width: 55%;
    }
}
@media screen and (max-width: 568px) {
        .overlay img {
    		width: 50%;

    }
}

@media screen and (max-width: 568px) {
        .carousel-indicators{
    		width: 50%;

    }
}
/*---------------------------*/
/* Image SLIDER main banner	 */
/*---------------------------*/	

.carouel-inner{
	position:relative;
	width:100%;
	height:100%;
	 
	z-index:1;
	
}
.overlay{
	position: absolute;
   margin: auto;
    width: 100%;
    height: 100%;
   text-align: center;
    z-index: 10;
   
}

/*---------------------------*/
/*  COUNTDOWN 	clock */
/*---------------------------*/	

.countdown_container{
	width:100%;
	height:100px;
	padding:10px 0 10px 0;
	background-color: #b1c3ab;
}
.countdown_container h2{
	text-align:left;
	color:#FFFFFF;
	padding:0 0 0 20px;
	font-size:26px;
	display: inline;

} /*
.hasCountdown{
	width:100%;
	padding:20px 0 20px 0;
	text-align:center;
}
.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {
	color: #888;
}
.countdown_row {
	clear: both;
	width: 100%;
	padding:0px;
	text-align: center;
}
.countdown_section {
	display:inline-block;
	text-align: center;
	width:148px;
	height:125px;
	padding:0px 0 0 0;
	margin:0 12px;
	background:url(images/countdown_frame.png) no-repeat center;
	text-align:center;
	font-size:36px;
	color:#FFFFFF;
	text-transform:lowercase;
}
span.countdown_amount {
	font-size:80px;
	color:#FFFFFF;
	font-weight:700;
	letter-spacing:-0.5px;
}
*/
/*---------------------------*/
/*  RSVP FORM*/
/*---------------------------*/	
/*input[type=radio] {
	width: 40px;
	height: 40px;
}*/

.rsvp-form {
	margin: auto;
	background-color: #dac17e;
	padding: 20px 50px 50px 50px;
}

.rsvp-form h2 {
	text-align: center;
	font-family: 'Aguafina Script', cursive;
	font-size: 65px;
	color: #FFFFFF
}

/*---------------------------*/
/*  LOCATIONS   */
/*---------------------------*/	
.locations {
	margin: 25px;

	
}

.h3 {
	font-family: 'Playfair Display SC', serif;
}
 .map{
 	margin: 50px 40px;

 }
