.body {
	/*background: repeating-linear-gradient(
  to right,
  #F7F5FF,
  #F7F5FF 10px,
  #F9F9FF 10px,
  #F9F9FF 20px
);;*/
	background: url("../images/pattern-8rd8.png") repeat;
}

.container {
	background: #FFFFFF;
	background: url("../images/pattern-56vk.png") repeat;
}

/*---------------------------*/
/* MAIN BANNER - OVERLAY */
/*---------------------------*/	

.carouel-inner{
	position:relative;
	width:100%;
	height:100%;
	 
	z-index:1;
	
}
.overlay{
	position: absolute;
   margin: auto;
    width: 100%;
    height: 100%;
   text-align: center;
    z-index: 10;
   
}

.overlay h1 {
	color: #FFFFFF;
	font-family: 'Parisienne', cursive;
	font-size: 105px;
	padding-top: 25px;
	
}

@media screen and (max-width: 992px) {
        .overlay h1 {
    		font-size:85px;
    		padding-top: 0px;
    }
}
@media screen and (max-width: 768px) {
        .overlay h1 {
    		font-size:65px;
    }
}
@media screen and (max-width: 568px) {
        .overlay h1 {
    		font-size:40px;
    		padding-top: 0px;
    }
}
.glyphicon {
	color: #FFFFFF;
	font-size: 40px;
}

.overlay h3 {
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	font-weight: 700 ;
	text-align: ;
	font-size: 40px;
}
@media screen and (max-width: 992px) {
        .overlay h3 {
    		font-size:30px;
    }
}
@media screen and (max-width: 768px) {
        .overlay h3 {
    		font-size:28px;
    }
}
@media screen and (max-width: 568px) {
        .overlay h3 {
    		font-size:18px;
    		font-weight: 400 ;
    }
}

.overlay .mike{
	padding-left: 20px;
	
}

.overlay .tanya{
	padding-right: 20px;
}



@media screen and (max-width: 568px) {
        .carousel-indicators{
    		width: 50%;

    }
}

.header {
	margin-bottom: 50px;
}

@media screen and (max-width: 568px) {
        .header {
    		margin-bottom: 10px;
    }
}
/*---------------------------*/
/*  WEEKEND PLANS   */
/*---------------------------*/	
.plans {
 	height: auto;
 }

@media screen and (max-width: 568px) {
        .plans {
    		text-align: center;
    }
}

.plans h2{
	margin-top: 0px;
}
.plans h4 b{
	font-family: 'Playfair Display SC', serif;
}

.intro {
	padding-bottom: 30px;
	border-bottom: 1px dotted #9F9DA1;
	
}


 .thursday{
	padding: 25px 15px;
 	min-height: 275px;
 	border-bottom: 1px dotted #9F9DA1;
 	
 }
 .thursday img{
 	float: left;
 	margin-right: 15px;
 	outline: 1px solid white;
  	outline-offset: -6px;
 }
 .thursday h4 p{
 	float: right;
 }
 @media screen and (max-width: 568px) {
        .thursday img{
    		margin-bottom: 10px;
    }
}

.friday{
	clear: both;
	padding: 25px 15px;
 	min-height: 275px;
 	margin-bottom: 25px;
 	margin-top: 25px;
 	border-bottom: 1px dotted #9F9DA1;

 }
 .friday img{
 	float: left;
 	margin-right: 15px;
 	outline: 1px solid white;
  	outline-offset: -6px;
 }
 .friday h4 p{
 	float: right;
 }
 @media screen and (max-width: 568px) {
        .friday img{
    		margin-bottom: 10px;
    }
}
.saturday{
	clear: both;
	padding: 25px 15px;
 	min-height: 275px;
 	border-bottom: 1px dotted #9F9DA1;
}
 .saturday img{
 	float: left;
 	margin-right: 15px;
 	outline: 1px solid white;
  	outline-offset: -6px;
 }
 .saturday h4 p{
 	float: right;
 }
 @media screen and (max-width: 568px) {
        .saturday img{
    		margin-bottom: 10px;
    }
}

.sunday{
	clear: both;
	padding: 25px 15px;
 	min-height: 275px;
 	margin-bottom: 25px;
 	margin-top: 25px;
 	border-bottom: 1px dotted #9F9DA1;
}
 .sunday img{
 	float: left;
 	margin-right: 15px;
 	outline: 1px solid white;
  	outline-offset: -6px;
 	
 }
 .sunday h4 p{
 	float: right;
 }
 @media screen and (max-width: 568px) {
        .sunday img{
    		margin-bottom: 10px;
    }
}

.monday {
	clear: both;
	padding: 25px 15px;
 	min-height: 275px;
 	margin-bottom: 25px;
 	border-bottom: 1px dotted #9F9DA1;
 	
}
 .monday img{
 	float: left;
 	margin-right: 15px;
 	outline: 1px solid white;
  	outline-offset: -6px;
 }
 .monday h4 p{
 	float: right;
 }
 @media screen and (max-width: 568px) {
        .monday img{
    		margin-bottom: 10px;
    }
}

.summer {
	clear: both;
	padding: 25px 15px;
 	min-height: 275px;
 	margin-bottom: 50px;
 	border-bottom: 1px dotted #9F9DA1;
 	padding-bottom: 30px;
}
 .summer img{
 	float: left;
 	margin-right: 15px;
 	outline: 1px solid white;
  	outline-offset: -6px;
 }
 .summer h4 p{
 	float: right;
 }
 @media screen and (max-width: 568px) {
        .summer img{
    		margin-bottom: 10px;
    }
}
/*---------------------------*/
/*  SIDEBAR       */
/*---------------------------*/
 .sidebar{
 	border-left: 1px dotted #9F9DA1;

 }
 .sidebar h4{
 	font-family: 'Playfair Display SC', serif;
 }
 .register {
 	width: 100%;
 	height: auto;
 	margin-top: 50px;
 	border-top: 1px dotted #9F9DA1;
 
 }

 .helpful {
 	width: 100%;
 	height: auto;
 	margin-top: 50px;
 	border-top: 1px dotted #9F9DA1;
 
 }

/*---------------------------*/
/*  LOCATIONS   */
/*---------------------------*/	

.ceremony h3{
	font-family: 'Playfair Display SC', serif;
}

.ceremony {
	margin-top: 100px;
	border-bottom: 1px dotted #9F9DA1;
  	
}
.ceremony img { 
	outline: 1px solid white;
  	outline-offset: -6px;
  	
}

.reception {
	margin-top: 75px;
	border-bottom: 1px dotted #9F9DA1;
}
.reception h3{
	font-family: 'Playfair Display SC', serif;
}
.reception img { 
	outline: 1px solid white;
  	outline-offset: -6px;
}
/*---------------------------*/
/*  MAP   */
/*---------------------------*/	
 .map{
 	margin: 100px 5px 20px 5px;

 }

 .legend {
 	background-color: #DADADA;
 	height: auto;
 	margin-top: 20px;
 	outline: 1px solid white;
  	outline-offset: -6px;
  	padding-top: 10px;
  	padding-bottom: 10px;
 }

 .legend h3 {
 	font-family: 'Playfair Display SC', serif;
 	
 	text-align: center;
 }

@media screen and (max-width: 568px) {
        .legend {
    		text-align: left;
    }
}


/*---------------------------*/
/*  FOOTER   */
/*---------------------------*/	
.footer{
	text-align: center;
	color: #FFFFFF;
	max-height: auto;
	background: url("../images/pattern-10ce.png") repeat;
	padding-top: 25px;
	
}






