.body {
	/*background: repeating-linear-gradient(
  to right,
  #F7F5FF,
  #F7F5FF 10px,
  #F9F9FF 10px,
  #F9F9FF 20px
);;*/
	background: url("../images/pattern-a.png") repeat;
}

.container {
	background: #FFFFFF;
}

.p {
	font-family: 'Raleway', sans-serif;
}

.overlay h1 {
	color: #FFFFFF;
	font-family: 'Parisienne', cursive;
	font-size: 48px;
	
}
/*
@media screen and (max-width: 992px) {
        .overlay h1 {
    		font-size:85px;
    }
}
@media screen and (max-width: 768px) {
        .overlay h1 {
    		font-size:50px;
    }
}
@media screen and (max-width: 568px) {
        .overlay h1 {
    		font-size:40px;
    }
}*/
.overlay .glyphicon {
	color: #FFFFFF;
	
	font-size: 40px;
	
}

.overlay h3 {
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	font-weight: 700 ;
	text-align: ;
	font-size: 50px;
}
@media screen and (max-width: 992px) {
        .overlay h3 {
    		font-size:30px;
    }
}
@media screen and (max-width: 768px) {
        .overlay h3 {
    		font-size:25px;
    }
}
@media screen and (max-width: 568px) {
        .overlay h3 {
    		font-size:18px;
    }
}

.overlay .mike{
	padding-left: 20px;
	
}

.overlay .tanya{
	padding-right: 20px;
}



@media screen and (max-width: 568px) {
        .carousel-indicators{
    		width: 50%;

    }
}
/*---------------------------*/
/* Image SLIDER main banner	 */
/*---------------------------*/	

.carouel-inner{
	position:relative;
	width:100%;
	height:100%;
	 
	z-index:1;
	
}
.overlay{
	position: absolute;
   margin: auto;
    width: 100%;
    height: 100%;
   text-align: center;
    z-index: 10;
   
}

/*---------------------------*/
/*  COUNTDOWN 	clock */
/*---------------------------*/	

.countdown_container{
	width:100%;
	height:100px;
	padding:10px 0 10px 0;
	background-color: #b1c3ab;
}
.countdown_container h2{
	text-align:left;
	color:#FFFFFF;
	padding:0 0 0 20px;
	font-size:26px;
	display: inline;

} /*
.hasCountdown{
	width:100%;
	padding:20px 0 20px 0;
	text-align:center;
}
.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {
	color: #888;
}
.countdown_row {
	clear: both;
	width: 100%;
	padding:0px;
	text-align: center;
}
.countdown_section {
	display:inline-block;
	text-align: center;
	width:148px;
	height:125px;
	padding:0px 0 0 0;
	margin:0 12px;
	background:url(images/countdown_frame.png) no-repeat center;
	text-align:center;
	font-size:36px;
	color:#FFFFFF;
	text-transform:lowercase;
}
span.countdown_amount {
	font-size:80px;
	color:#FFFFFF;
	font-weight:700;
	letter-spacing:-0.5px;
}
*/
/*---------------------------*/
/*  RSVP FORM*/
/*---------------------------*/	
.rsvp-section {
	background-color: #D1E0D6;
	margin-top: 100px;
	padding: 25px 50px 50px 50px;
}

.rsvp-section h1 {
	font-family: 'Playfair Display SC', serif;
	padding-bottom: 30px;
	color: #FFFFFF;
}

.rsvp-rbutton {
	padding-bottom: 30px;
	text-align: center;
	
}
@media screen and (max-width: 992px) {
        .rsvp-rbutton {
    		text-align: left;
    		padding-left: 20px;
    }
}
@media screen and (max-width: 768px) {
        .rsvp-rbutton {
    		text-align: left;
    		padding-left: 20px;
    }
}
@media screen and (max-width: 568px) {
        .rsvp-rbutton {
    		text-align: left;
    		padding-left: 20px;

    }
}
/*---------------------------*/
/*  LOCATIONS   */
/*---------------------------*/	
.locations {
	padding-top: 75px;
	display: inline-block;
	background-color: #FFFFFF;
	margin-bottom: 50px;
}
.locations h3{
	font-family: 'Playfair Display SC', serif;
}
.locations p{
	padding-top: 10px;
	text-align: center;
}
.ceremony {
	background-color: #A4B5A6;
	

}
.ceremony img { 
	outline: 1px solid white;
  	outline-offset: -6px;
}

.reception {
	background-color: #A4B5A6;
	
}
.reception img { 
	outline: 1px solid white;
  	outline-offset: -6px;
}
/*---------------------------*/
/*  MAP   */
/*---------------------------*/	
 .map{
 	margin: 30px 5px 20px 5px;

 }

 .legend {
 	background-color: #DADADA;
 	height: auto;
 	margin-top: 20px;
 	outline: 1px solid white;
  	outline-offset: -6px;
  	font-family: 'Raleway', sans-serif;
  	padding-top: 10px;
  	padding-bottom: 10px;

 }

 .legend h3 {
 	font-family: 'Playfair Display SC', serif;
 	color: #FFFFFF;
 	text-align: center;

 }

/*---------------------------*/
/*  WEEKEND PLANS   */
/*---------------------------*/	
.plans {
 	background-color: #D1E0D6;
 	height: auto;
 	
 	font-family: 'Raleway', sans-serif;
 	padding-bottom: 30px;
 	line-height: 1.65;

 	
 }

 .plans h1 {
 	font-family: 'Parisienne', cursive;
 	font-size: 50px;
 	text-align: center;
 	padding-top: 20px;
 	padding-bottom: 20px;
 	border-bottom: 1px solid #FFFFFF;
 	border-top: 1px solid #FFFFFF;
	background: url("../images/pattern-50xa.png") repeat;
 }

 .plans p {
 	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
    padding-bottom: 30px;
 }

@media screen and (max-width: 768px) {
        .plans p {
    		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		    -moz-column-count: 2; /* Firefox */
		    column-count: 2;
		    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
		    -moz-column-gap: 30px; /* Firefox */
		    column-gap: 30px;
    }
}
@media screen and (max-width: 568px) {
        .plans p {
    		-webkit-column-count: 1; /* Chrome, Safari, Opera */
		    -moz-column-count: 1; /* Firefox */
		    column-count: 1;
		    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
		    -moz-column-gap: 30px; /* Firefox */
		    column-gap: 30px;
		    text-align: center;
    }
}

.plans li {
	text-align: center;
}
/*---------------------------*/
/*  FOOTER   */
/*---------------------------*/	
.bottom-foot{
	position: relative;
	z-index: 1;
	max-height: 300px;
	background-image: url("../images/rings-noir.jpg") no-repeat;
	background-color: 262825;
}

.bottom-inner {
	position: absolute;
	z-index: 10;
}


 .bottom-foot .middle {
 	
 	color: #FFFFFF;
 	font-family: 'Raleway', sans-serif;
 	font-weight: 700;

 }

